.ChatMain
  .ChatMain__GroupInfo 
    .ChatMain__GroupInfo__LeftBox
      .ChatMain__GroupInfo__LeftBox-GroupName 
        = @group.name
      .ChatMain__GroupInfo__LeftBox-MemberList 
        Menber : 
        - @group.users.each do |user|
          = user.name
    .ChatMain__GroupInfo__RightBox
      .ChatMain__GroupInfo__RightBox-Edit
        = link_to "Edit",edit_group_path(@group.id),class:"ChatMain__GroupInfo__RightBox-EditBtn"
      
  .ChatMain__Messages
    .messages
      = render @messages

    
  .ChatMain__MessageForm
    .ChatMain__MessageForm__Box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'

        .form__mask
          = f.label :image, class: 'form__mask__image' do

            = icon('fas', 'image', class: 'icon')

            = f.file_field :image, class: 'hidden'

        = f.submit 'Send', class: 'form__submit'